.WinnerContainer {
    height: 30px;
}

.Result {
    text-align: center;
    font-size: 2rem;
}


@media (max-width: 768px) {
    .Result {
        font-size: 1rem;
    }

    .WinnerContainer {
        height: 20px;
    }

}