.Board {
    display: grid;
    grid-template-columns: repeat(7, 90px);
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background: url('../../assets/wood.jpg');
    box-shadow: 5px 5px 10px 10px var(--color-primary);

}

@media (max-width: 768px) {
    .Board {
        grid-template-columns: repeat(7, 40px);
    }

}